# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.json
*.ipch
*.db
*.pdb
*.ilk
*.log

# Directories
Cpp/PsuMaxima/out/build/x64-Debug/
Cpp/PsuMaxima/out/build/x64-Release/
*.opendb
*.ipdb
*.iobj
*.tlog
*.tlog
*.iobj
*.ipdb
*.tlog
Linux/out/build/x64-Debug/.ninja_log
Linux/out/build/x64-Debug/.ninja_deps
Linux/.vs/slnx.sqlite
Linux/.vs/Linux/v16/.suo
